$background-colors:(
    primary:(
        100: hsl(239, 100%, 80%),
        200: hsl(239, 100%, 70%),
        300: hsl(239, 100%, 60%),
        400: hsl(239, 100%, 50%),
        500: hsl(239, 100%, 40%)
    ),
    article:(
        100: hsl(220, 90%, 50%),
        200: hsl(220, 90%, 40%),
        300: hsl(220, 90%, 30%),
        400: hsl(220, 90%, 20%),
        500: hsl(220, 90%, 10%)
    ),
    backgorund:(
        100: hsl(244, 37%, 45%),
        200: hsl(244, 37%, 35%),
        300: hsl(244, 37%, 25%),
        400: hsl(244, 37%, 15%),
        500: hsl(244, 37%, 5%)
    )
);

$font-colors:(
    text:(
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 80%),
        300: hsl(0, 0%, 60%),
        400: hsl(0, 0%, 40%),
        500: hsl(0, 0%, 20%)
    )
);